
body{
  height: 100%;  /* (TODO) need to fix it! */
  padding: 0;
  margin: 0;
  border: 0;
  background: #010E15;
  color: white;
}


#home{
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 1; 
	left: 0px;
	position: absolute;
	-webkit-transition: all 1.5s ease-in-out;
	-webkit-transform: rotate3d(0, 0, 0, 0deg);
	z-index: 10;
	border: 1px solid;
  border-color:#00FF00;
}


#edit{
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	left: 100%;
	position: absolute;
	-webkit-transition: all 1.5s ease-in-out;
	-webkit-transform: rotate3d(0, 0, 0, 10deg);
	z-index: 2;
  border: 1px solid;
  border-color:#FFAA00;
}


#banner{
  width:100%;
  height:40px;
  position:absolute;
  background-color: #252525;
  left:0%;
  top:0%;
}


#search{
  width:70%;
  height:10%;
  position:absolute;
  left:0%;
  top:40px;
  border: 1px solid;
  border-color:#FF0000;
}


#search_input{
	width:250px;
	height:100%;
	position:absolute;
  left:10%;
  top:0%;
  font-family:"Arial Black";
  font-size:40px;
  font-weight:blod;
}


.search_result{
  width: 1000px;
  height: 630px;
  overflow:auto;
  border: 1px solid;
  border-color:#FFAA00;
}


.post {
  width: 300px;
  margin: 10px;
  float: left;
  -webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
}


.word_image{
	width:280px;
	height: 100px;
	padding: 5px;
	background-color: gray;
}


.moveme{
  -webkit-transition: opacity 0.5s ease-in-out;
}


#result{
  width:70%;
  height:80%;
  position:absolute;
  left:0%;
  top: 20%;
}


#admin{
  width:30%;
  height:25%;
  position:absolute;
  right:0%;
  top:0%;
}


#top10{
  width:30%;
  height:70%;
  position:absolute;
  right:0%;
  top:25%;
}


#advert{
  width:30%;
  height:10%;
  position:absolute;
  right:0%;
  bottom:0%;
}


#add_main{
	display:none;
}


#edit_main{
  border-style:dashed;
  width:70%;
  height:100%;
  position:absolute;
  left:0%;
  top:1%;
}


ul.thumb {
float: left;
list-style: none;
margin: 0px;
padding: 10px;
width: 720px;
}


ul.thumb li {
float: left;
height: 200px;
margin: 0px;
padding: 5px;
position: relative;
width: 200px;
}


#user_cloud{
	border-style:dashed;
  width:28%;
  height:50%;
  position:absolute;
  right:0%;
  top:1%;
}


#user_report{
	border-style:dashed;
  width:28%;
  height:40%;
  position:absolute;
  right:0%;
  bottom:0%;
}