#home{
	height:100%;
	position:relative;
  background-color: #D4DCF7;
  background-image: url(http://www.quadrifogliorosso.com/images/home_bg.png);
  background-position: 0% 0%;
    background-position-x: 0%;
		background-position-y: 0%;
  background-repeat: repeat-x;
    background-repeat-x: repeat;
		background-repeat-y: no-repeat;
	color: Black;
}

#banner{
  width:70%;
  height:25%;
  position:absolute;
  left:0%;
  top:0%;
}

#search{
  width:70%;
  height:25%;
  position:absolute;
  left:0%;
  top:25%;
}

#search_input{
  font-family:"Arial Black";
	font-size:30px;
	font-weight:blod;
	width:250px;
	position:absolute;
  left:40%;
  top:40%;
}

.search_result{
	width: 50%;
	height: 50%;
}

#result{
  width:70%;
  height:60%;
  position:absolute;
  left:0%;
  top:50%;
}

#admin{
  width:30%;
  height:25%;
  position:absolute;
  right:0%;
  top:0%;
}

#kx001_btn_login{
  position:absolute;
  right:16%;
	top: 0%;
}

#sina_weibo{
  position:absolute;
  right:16%;
  top: 20%;
}

#top10{
  width:30%;
  height:70%;
  position:absolute;
  right:0%;
  top:25%;
}

#advert{
  width:30%;
  height:10%;
  position:absolute;
  right:0%;
  bottom:0%;
}

#add_main{
	display:none;
}


#edit{
	height:100%;
	display:none;
  position:relative;
  background-color: #D4DCF7;
  background-image: url(http://www.quadrifogliorosso.com/images/home_bg.png);
  background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
  background-repeat: repeat-x;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
  color: Black;
}

#edit_main{
  border-style:dashed;
  width:70%;
  height:100%;
  position:absolute;
  left:0%;
  top:1%;
}

ul.thumb {
float: left;
list-style: none;
margin: 0px;
padding: 10px;
width: 720px;
}

ul.thumb li {
float: left;
height: 200px;
margin: 0px;
padding: 5px;
position: relative;
width: 200px;
}


#user_cloud{
	border-style:dashed;
  width:28%;
  height:50%;
  position:absolute;
  right:0%;
  top:1%;
}

#user_report{
	border-style:dashed;
  width:28%;
  height:40%;
  position:absolute;
  right:0%;
  bottom:0%;
}


