
body{
  height: 100%;  /* (TODO) need to fix it! */
  padding: 0;
  margin: 0;
  border: 0;
}

#home{
	width: 100%;
	height: 100%;
	left:0%;
	top:40px;
  background-color: #0067C8; /* #882811 */
	color: Black;	
}

#banner{
  width:100%;
  height:40px;
  position:absolute;
  background-color: #252525;
  left:0%;
  top:0%;
}

#search{
  width:70%;
  height:10%;
  position:absolute;
  left:0%;
  top:40px;
  border: 1px solid;
  border-color:#FF0000;
}

#search_input{
	width:250px;
	height:100%;
	position:absolute;
  left:10%;
  top:0%;
  font-family:"Arial Black";
  font-size:40px;
  font-weight:blod;
}

.search_result{
 width: 700px;
  margin-left: auto ;
  margin-right: auto ;
 height: 600px;
 overflow:auto;
}

#result{
  width:70%;
  height:80%;
  position:absolute;
  left:0%;
  top: 20%;
}

#admin{
  width:30%;
  height:25%;
  position:absolute;
  right:0%;
  top:0%;
}

#top10{
  width:30%;
  height:70%;
  position:absolute;
  right:0%;
  top:25%;
}

#advert{
  width:30%;
  height:10%;
  position:absolute;
  right:0%;
  bottom:0%;
}

#add_main{
	display:none;
}


#edit{
	height:100%;
	display:none;
  position:relative;
  background-color: #D4DCF7;
  background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
  background-repeat: repeat-x;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
  color: Black;
}

#edit_main{
  border-style:dashed;
  width:70%;
  height:100%;
  position:absolute;
  left:0%;
  top:1%;
}

ul.thumb {
float: left;
list-style: none;
margin: 0px;
padding: 10px;
width: 720px;
}

ul.thumb li {
float: left;
height: 200px;
margin: 0px;
padding: 5px;
position: relative;
width: 200px;
}


#user_cloud{
	border-style:dashed;
  width:28%;
  height:50%;
  position:absolute;
  right:0%;
  top:1%;
}

#user_report{
	border-style:dashed;
  width:28%;
  height:40%;
  position:absolute;
  right:0%;
  bottom:0%;
}


