<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link type="text/css" rel="stylesheet" href="/stylesheet/main.css" >
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script type="text/javascript" src="/stylesheet/edit.js"></script>
</head>
<body>
  {% if query %}
	   {% for list_query in query %}
       <div class="edit_div" id="{{ list_query.key }}">
				 <form action="/edit/{{ list_query.key }}" method="post">
				   <input type="hidden" name="key" value="{{ list_query.key }}">
           <p> {{ list_query.Word }} </p>
					   <textarea class="edit_default" type="text" id="define" , name="define"> {{ list_query.Define }} </textarea>
             <textarea class="edit_default" type="text" id="example", name="example"> {{ list_query.Example }} </textarea>
             <input class="edit_default" type="text" id="tag", name="tag" size="30" type="text" value="{{ list_query.Tag }}">
					 
					 <input type="submit" value="Done">
					</form>
				</div>
		 {% endfor %}
	{% endif %}
</body>
</html>
